@import url("/assets/css/main.css");
  
  .timeline {
    position: relative;
  }
  .timeline::before {
    content: "";
    background: #C0C0C0;
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .timeline-item {
    width: 100%;
    margin-bottom: 70px;
  }

  .timeline-item:nth-child(odd) .timeline-content {
    float: left;
    padding: 40px 30px 10px 30px;
  }

  .timeline-item:nth-child(even) .timeline-content {
    float: right;
    padding: 40px 30px 10px 30px;
  }
  .timeline-item:nth-child(even) .timeline-content .date {
    right: auto;
    left: 0;
  }
  .timeline-item:nth-child(even) .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
  .timeline-item::after {
    content: "";
    display: block;
    clear: both;
  }
  
  .timeline-content {
    position: relative;
    width: 45%;
    padding: 10px 30px;
    border-radius: 4px;
    background: #f5f5f5;
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
  }
  .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #f5f5f5;
  }
  
  .timeline-img {
    width: 30px;
    height: 30px;
    background: #2F4F4F;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 25px;
    margin-left: -15px;
  }
  
  .timeline-card {
    padding: 0 !important;
  }
  .timeline-card p {
    padding: 0 20px;
  }
  .timeline-card a {
    margin-left: 20px;
  }
  
  .timeline-item .timeline-img-header1 {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("klcc.jpg") center center no-repeat;
    background-size: cover;
  }

  .timeline-item .timeline-img-header2 {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("18.jpg") center center no-repeat;
    background-size: cover;
  }

  .timeline-item .timeline-img-header3 {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("germany.jpg") center center no-repeat;
    background-size: cover;
  }

  .timeline-item .timeline-img-header4 {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("warehouse.jpg") center center no-repeat;
    background-size: cover;
  }

  .timeline-item .timeline-img-header5 {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("rejected.jpg") center center no-repeat;
    background-size: cover;
  }

  .timeline-item .timeline-img-header6 {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("rocket.jpg") center center no-repeat;
    background-size: cover;
  }

  .timeline-item .timeline-img-header7 {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("auxmoney.jpg") center center no-repeat;
    background-size: cover;
  }

  .timeline-item .timeline-img-header8 {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("deutschlandstipendium.jpg") center center no-repeat;
    background-size: cover;
  }
  
  .timeline-img-header1, .timeline-img-header2, .timeline-img-header3, .timeline-img-header4, .timeline-img-header5, .timeline-img-header6, .timeline-img-header7, .timeline-img-header8 {
    height: 200px;
    position: relative;
    margin-bottom: 20px;
  }
  .timeline-img-header1 h2, .timeline-img-header2 h2, .timeline-img-header3 h2, .timeline-img-header4 h2, .timeline-img-header5 h2, .timeline-img-header6 h2, .timeline-img-header7 h2, .timeline-img-header8 h2 {
    color: #FFFFFF;
    position: absolute;
    bottom: 5px;
    left: 20px;
  }
  
  .date {
    background: #000080;
    display: inline-block;
    color: #FFFFFF;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  @media screen and (max-width: 768px) {
    .timeline::before {
      left: 50px;
    }
    .timeline .timeline-img {
      left: 50px;
    }
    .timeline .timeline-content {
      max-width: 100%;
      width: auto;
      margin-left: 70px;
    }
    .timeline .timeline-item:nth-child(even) .timeline-content {
      float: none;
    }
    .timeline .timeline-item:nth-child(odd) .timeline-content::after {
      content: "";
      position: absolute;
      border-style: solid;
      width: 0;
      height: 0;
      top: 30px;
      left: -15px;
      border-width: 10px 15px 10px 0;
      border-color: transparent #f5f5f5 transparent transparent;
    }
  }

/* Home */

#home {
	display: none;
}

@media screen and (max-width: 960px) {

	/* Basic */

		html, body {
			overflow-x: hidden;
		}

		body, input, textarea, select {
			font-size: 16pt;
		}

		header br {
			display: none;
		}

		.container {
			padding: 0 2em 0 2em;
		}

	/* Item */

		.item {
			margin-bottom: 15px;
		}

	/* Icons */

		ul.icons a {
			width: 1.75em;
			font-size: 1.25em;
		}

	#header {
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-transform: translateX(-275px);
		-webkit-transform: translateX(-275px);
		-ms-transform: translateX(-275px);
		transform: translateX(-275px);
		-moz-transition: -moz-transform 0.5s ease;
		-webkit-transition: -webkit-transform 0.5s ease;
		-ms-transition: -ms-transform 0.5s ease;
		transition: transform 0.5s ease;
		-webkit-overflow-scrolling: touch;
		display: block;
		height: 100%;
		left: 0;
		overflow-y: auto;
		position: fixed;
		top: 0;
		width: 275px;
		z-index: 10002;
		width: 275px;
		background: #222729 url("/assets/css/images/overlay.png");
		box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.125);
	}

		#header .top {
			position: relative;
		}

		#header .bottom {
			border-top: solid 1px rgba(255, 255, 255, 0.05);
			box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.15);
			padding-top: 2em;
			margin-top: 2em;
			position: relative;
		}

		#logo {
			margin: 1.5em 1.25em 1.25em 1.25em;
		}

		#nav ul li a {
			padding: 0.5em 1.25em 0.5em 1.25em;
		}

		#home {
			-moz-backface-visibility: hidden;
			-webkit-backface-visibility: hidden;
			-ms-backface-visibility: hidden;
			backface-visibility: hidden;
			-moz-transition: -moz-transform 0.5s ease;
			-webkit-transition: -webkit-transform 0.5s ease;
			-ms-transition: -ms-transform 0.5s ease;
			transition: transform 0.5s ease;
			display: block;
			height: 2.25em;
			left: 0;
			position: fixed;
			top: 0;
			width: 3.25em;
			z-index: 10001;
		}

			#home .toggle {
				text-decoration: none;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				outline: 0;
				border: 0;
			}

				#home .toggle:before {
					-moz-osx-font-smoothing: grayscale;
					-webkit-font-smoothing: antialiased;
					display: inline-block;
					font-style: normal;
					font-variant: normal;
					text-rendering: auto;
					line-height: 1;
					text-transform: none !important;
					font-family: 'Font Awesome 5 Free';
					font-weight: 900;
				}

				#home .toggle:before {
					text-decoration: none;
					content: '\f060';
					color: #fff;
					font-size: 18px;
					background: rgba(128, 136, 144, 0.5);
					border-radius: 0.35em;
					text-align: center;
					position: absolute;
					left: 0.5em;
					top: 0.5em;
					display: block;
					width: 3.25em;
					height: 2.25em;
					line-height: 2.25em;
				}

		body.header-visible #main {
			-moz-transform: translateX(275px);
			-webkit-transform: translateX(275px);
			-ms-transform: translateX(275px);
			transform: translateX(275px);
		}

		body.header-visible #home {
			-moz-transform: translateX(275px);
			-webkit-transform: translateX(275px);
			-ms-transform: translateX(275px);
			transform: translateX(275px);
		}

		body.header-visible #home {
			-moz-transform: translateX(0);
			-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);
		}

		/* Footer */

		#footer {
			/* margin-left: 0; */
		}

	/* Main */

		#main {
			-moz-backface-visibility: hidden;
			-webkit-backface-visibility: hidden;
			-ms-backface-visibility: hidden;
			backface-visibility: hidden;
			-moz-transition: -moz-transform 0.5s ease;
			-webkit-transition: -webkit-transform 0.5s ease;
			-ms-transition: -ms-transform 0.5s ease;
			transition: transform 0.5s ease;
			padding-bottom: 1px;
			margin-left: 0;
		}

			#main > section {
				padding: 3em 0;
			}

			#main section.cover {
				padding: 4em 0;
			}

	}
